/* body{
    background-color: rgb(228, 228, 234);
}
h1{
    color: rgb(3, 48, 28);
    text-align: center;
    font-size: 50px;
}
.top{
    position: relative;
    top: 1vh;
    border: 3px solid rgb(5, 21, 13);
    border-radius: 10px;
}
.bottom{
    position: relative;
    top: 1vh;
    border: 3px solid rgb(5, 21, 13);
    border-radius: 10px;
    background-color: rgb(3, 3, 32);
} */
