body{
    background-color: rgb(3, 3, 32);
    position: relative;
}
h1{
    color: rgb(3, 48, 28);
    text-align: center;
    font-size: 50px;
}
.top{
    position: relative;
    top: 1vh;
    border: 3px solid rgb(157, 170, 164);
    width:32vw;
    height:fit-content;
    border-radius: 30px;
    font-size: 30px;
    color: rgb(12, 13, 13);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    left:34vw;
    padding: 0px;
    background-color: rgb(16, 201, 75);
    text-align: center;
}
.profile{
    position: relative;
    position: absolute;
    top: 25vh;
    left: 5vw;
    width: 50vw;
    height: 61vh;
    border: 3px solid rgb(157, 170, 164);
    border-radius: 30px;
    background-color: rgb(16, 201, 75);

}
.profile h2{
    font-size: 30px;
    display: inline;
    padding-right: 1vw;
    padding : 2vw;
    padding-top: 2vh;
    font-family: "Space Grotesk", sans-serif;
}

.profile p{
    font-size: 20px;
    display: inline;
}
.profile h3{
    font-size: 20px;
    margin-top: 2px;
    padding : 2vw;
    padding-top: 2px;
    font-family: "Space Grotesk", sans-serif;
}
 .links{
   
    width: 20vw;
    height: 35vh;
    padding: 2vw;
    top: 0vh;
    left: 4vw;
    position:absolute;
    position: relative;
 }
 .picture{
    border: 3px solid rgb(157, 170, 164);
    width: 20vw;
    height: 38vh;
    top: 18vh;
    left: 29vw;
    position:absolute;
    
 }
 .L1{
    position: absolute;
    top: 4vh;
   
    width: 23vw;
    height: 5vh;
    left: 0vw;
 }
 .L2{
    position: absolute;
    top: 13vh;
    
    width: 23vw;
    height: 5vh;
    left: 0vw;
 }
  .L3{
    position: absolute;
    top: 22vh;
   
    width: 23vw;
    height: 5vh;
    left: 0vw;
 }
  .L4{
    position: absolute;
    top: 29vh;
   
    width: 23vw;
    height: 5vh;
    right: 2vw;
    position: relative;

 }
 .LS5{
    position: absolute;
   
    width: 3vw;
    height: 5vh;
 }
 .LS6{
    position: absolute;
  
    width: 3vw;
    height: 5vh;
 }
 .LS7{
    position: absolute;
    
    width: 3vw;
    height: 5vh;
 }
 .LS8{
    position: absolute;
    
    width: 3vw;
    height: 5vh;
 }
 
 .L1 h3{
    text-align: end;
 }
 .L2 h3{
    text-align: center;
 }
 .L3 h3{
    text-align: end;
 }
 .L4 h3{
    text-align: center;
 }
 .LS5 img{
     width: 3vw;
    height: 5vh;
 }
 .LS6 img{
     width: 3vw;
    height: 5vh;
    border-radius: 30px;
 }
 .LS7 img{
     width: 3vw;
    height: 5vh;
 }
 .LS8 img{
     width: 3vw;
    height: 5vh;
    border-radius: 30px
 }
   
                
      
    
