body{
    background-color: rgb(3, 3, 32);
}
h1{
    color: rgb(3, 48, 28);
    text-align: center;
    font-size: 50px;
}
.top{
    position: relative;
    top: 1vh;
    border: 3px solid rgb(157, 170, 164);
    width:32vw;
    height:fit-content;
    border-radius: 30px;
    font-size: 30px;
    color: rgb(12, 13, 13);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    left:34vw;
    padding: 0px;
    background-color: rgb(3, 53, 41);
    text-align: center;
}