body{
    background-color: rgb(3, 3, 32);
    position: relative;
}
h1{
    color: rgb(3, 48, 28);
    text-align: center;
    font-size: 50px;
}
.top{
    position: relative;
    top: 1vh;
    border: 3px solid rgb(157, 170, 164);
    width:32vw;
    height:fit-content;
    border-radius: 30px;
    font-size: 30px;
    color: rgb(12, 13, 13);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    left:34vw;
    padding: 0px;
    background-color: rgb(16, 201, 75);
    text-align: center;
}
.profile{
    position:absolute;
    top: 25vh;
    left: 5vw;
    width: 50vw;
    height: 50vh;
    border: 3px solid rgb(157, 170, 164);
    border-radius: 30px;
    background-color: rgb(16, 201, 75);

}
.profile h2{
    font-size: 30px;
    display: inline;
    padding-right: 1vw;
    padding : 2vw;
    padding-top: 2vh;
}

.profile p{
    font-size: 20px;
    display: inline;
}
.profile h3{
    font-size: 20px;
    margin-top: 2px;
    padding : 2vw;
    padding-top: 2px;
}
 .links p{
    font-size: 20px;
    padding-left: 7vw;
    margin-top: 0px;
     display: space-between;

}
.links{
    margin-top: 2px;
    border: 3px solid rgb(157, 170, 164);
    position: absolute;
    top: 10vh;
    width: 25vw;
    height:35vh;
    left: 3vw;
   
}
.links hr{
    display: none;
}