body{
    margin: 0%;
    padding: 0%;
}
.MyResume{
    position: relative;
    width: 100%;
    height: auto;
    background: -o-repeating-linear-gradient(to right, pink,blue);
}
#Name{
    margin-top: 1px;
    text-shadow: 5px rgb(29, 28, 26);
    font-size: 4vw;
    color: rgb(240, 6, 135);
    top: 13vh;
    position: absolute;
}
#field{
   left: 40%;
    position: absolute;
    top: 18vh;
    font-size: 30px;
    
    
}
.summary{
    max-width: 53vw;
   height: auto;
   font-family: 'Segoe UI', cursive ,sans-serif; ;
    
   display: grid;
    margin-left: 2vw;
    margin-top: 10vh;
    grid-template-columns: 1fr;
  
    
}
.box{
    border: 3px solid rgb(13, 70, 125);
    border-radius: 80px;
    margin: 20px;
    margin-top: 10px;
  box-shadow: 5px 5px  rgb(13, 70, 125);
    background-color: rgba(37, 236, 47, 0.5);
}
.box h2{
   padding-left: 40px;
   padding-top: -5px;                  ;
    color: rgb(240, 6, 135);
    font-size: 32px;

}
.box p{
   padding-left: 40px;
    font-size: 22px;
    font-weight: 700;
    
    color: rgb(65, 62, 62);
}
.education h3{
    padding-left: 40px;
    font-size: 25px;
    font-weight: 700;
   color: rgb(19, 49, 13);
    margin-bottom: -30px;
}
.education h4{
    padding-left: 40px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(19, 49, 13);
    margin-bottom: -20px;
}
.education p{
    padding-left: 60px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(36, 35, 35);
}

h6{
    text-align-last: right;
    font-size: 18px;
    color: rgb(14, 13, 13);
    padding-right: 40px;
}
.c1{
    width: 740px;
    height: 250px;
    border: 3px solid black;
    margin-left: 30px;
    margin-top: -20px;
    display:flex;
}
embed{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.internship h3{
    padding-left: 40px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(19, 49, 13);
    margin-bottom: -30px;

}
.internship h4{
    padding-left: 40px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(19, 49, 13);
    margin-bottom: -10px;

}
.internship p{
    line-height: 25px;
}
.certificate-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5px;
    font-size: 16px;
    color: #1f1222;
    background-color: #007bff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for links */
    margin-left: 60px; /* Align with the text */
    margin-bottom: 20px; /* Add some space below the button */
    font-weight: bold; /* Make the text bold */
}
#ccc{
    text-align: right;
    margin-left: 20vw;
    font-size: 18px;
    font-weight: 700;
    color: rgb(36, 35, 35);
    display: inline-block;
}
.certificate h3{
    padding-left: 40px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(19, 49, 13);
    margin-bottom: -30px;
}
.certificate h4{
    padding-left: 40px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(19, 49, 13);
    margin-bottom: -10px;
}
.name{
    width: 100%;
    height: 60vh;
    
    justify-content: center;
    align-items: center;
    display: flex;
   
    overflow: hidden;
}
#profile-img{
    width: 110vw;
    height:500px;
   background-size: cover;

    margin:0%;
    padding: 0%;
}
.additional{
    position:absolute;
    left: 55vw;
    top: 68vh;
    width: 43vw;
    height: 282vh;
    border: 3px solid rgb(173, 10, 105);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.box1{
    width: 100%;
    height: 100vh;
  border: 3px solid rgb(13, 70, 125);
    border-radius: 65px;
    margin: 20px;
    margin-top: 18px;
  box-shadow: 5px 5px  rgb(13, 70, 125);
   background-color: rgba(37, 236, 47, 0.5);
}
.box1 h2{
   text-align: center;
   padding-top: -5px;          ;
    color: rgb(240, 6, 135);
    font-size: 32px;

}
.box2{
    width: 100%;
    height: 70vh;
   border: 3px solid rgb(13, 70, 125);
    border-radius: 80px;
    margin: 20px;
    margin-top: -80vh;
  box-shadow: 5px 5px rgb(13, 70, 125);
   background-color: rgba(37, 236, 47, 0.5);
}
.box2 h2{
   text-align: center;
   padding-top: -5px;                  ;
    color: rgb(240, 6, 135);
    font-size: 32px;

}
.achievments{
    height: 350px;
    width: 94%;
        border: 3px solid rgb(13, 70, 125);
    border-radius: 30px;
    margin: 3%;
    margin-top: 10px;
  
    background-color: rgba(37, 236, 47, 0.5);
}